body {
    background-color: #f3f7fa;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .main {
    color: #4a4a4a;
    background: #f3f7fa;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica,
      sans-serif;
  }
  
  .appbox {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  .mainApp {
    display: flex;
    margin: -10px;
  }
  
  .allTickets {
    padding: 10px;
    flex: 1 0 0;
  }
  
  .ticketsList {
    width: 504px;
  }
  
  @media only screen and (max-width: 900px) {
    .mainApp {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 600px) {   
    .ticketsList {
      width: 300px;
    }
  }
